{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href="{% static 'lib/bootstrap/dist/css/bootstrap.min.css' %}">
    <style type="text/css">
        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
            padding-top: 100px;
        }

    </style>
    <title>Login In</title>
</head>
<body>
    <div class="container">
        <form method='post' class="form-signin" action="{% url 'appName.views.login' %}">
            <p><img src="/static/img/fiber_logo.png" ></p>
            <h3>Login In</h3>
            <hr />
            <div>{{ error }}</div>
            {% csrf_token %}
            {{ form }}
<!--            <input type="text" class="form-control" name="username" placeholder="username" autofocus="autofocus">
            <input type="password" class="form-control" name="password" placeholder="password">
            -->
            <hr />
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="登录">
        </form>
    </div>
</body>
</html>