<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
     <link rel='stylesheet' href="../static/css/createImage.css">
</head>
<body>
 <div class="div">
            <h2>Create Network</h2>
            <form name="cubeForm">
                <input type="hidden" ng-model="data.id" type="text">
                <div>
                    <span>Name</span>
                    <span class="text"><input ng-model="data.name" ></span>
                </div>
                <div>
                    <span>Project</span>
                    <span class="text">
                        <div>
                            <select class="input-block-level" ng-model="data.project" ng-options="x.id as x.name for x in projects ">
                            </select>
                        </div>
                    </span>
                </div>

                <div>
                    <span>Network Type</span>
                    <span class="text">
                        <select class="input-block-level" ng-model="data.type">
                            <option value="local">local</option>
                            <option value="vlan">vlan</option>
                        </select>
                    </span>
                </div>

                <div>
                    <span>Admin State</span>
                    <span class="text">
                        <select class="input-block-level" ng-model="data.state">
                            <option value="UP">UP</option>
                            <option value="DOWN">DOWN</option>
                        </select>
                    </span>

                </div>
                
                <div>
                    <span>Shared</span>
                    <span class="text">
                        <select class="input-block-level" ng-model="data.shared">
                            <option value="YES" selected="selected">YES</option>
                            <option value="NO">NO</option>
                        </select>
                    </span>
                </div>
                <div>
                    <span>External Network</span>
                    <span class="text">
                        <select class="input-block-level" ng-model="data.external">
                            <option value="YES" selected="selected">YES</option>
                            <option value="NO">NO</option>
                        </select>
                    </span>
                </div>



            </form>
            <span class="marginBottom">
                <button class="btn btn-default unusable" ng-click="cancel()">Cancel </button>
                <button class="btn btn-default" ng-click="createNW()">OK </button>
            </span>
        </div>
</body>
</html>