<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Volume</title>
</head>
<body>
    <div>
        <h2>创建一个云硬盘</h2>
        <form name="cubeForm">
            <div>
                <span>云硬盘名称</span>
                <span class="text"><input ng-model="data.name" type="text" placeholder=""  required></span>
            </div>
            <div>
                <span>描述</span>
                <span class="text"><input ng-model="data.description" type="text" placeholder=""  required>
                </span>
            </div>
            <div ng-hide="snapshot_volume=='Snapshot_volume'">
                <span>云硬盘源自</span>
                <span class="text">
                    <select ng-model="source" class="input-block-level">
                        <option value="No source, empty volume">No source, empty volume</option>
                        <option value="Snapshot">Snapshot</option>
                    </select>
                </span>
            </div>
            <div ng-show="source == 'No source, empty volume'">
 <!--               <div>
                    <span>云硬盘格式</span>
                    <span class="text"><input ng-model="data.format" type="text" placeholder="未设置卷类型"  required></span>
                </div>
                <div>-->
                    <span>云硬盘大小（GB）</span>
                    <span class="text"><input ng-model="data.size" type="number" placeholder="" required></span>
  <!--               </div>
               <div>
                    <span>可用域</span>
                    <span class="text"><input ng-model="data.zone" type="text" placeholder="任何可用域" required></span>
                </div>-->
            </div>
            <div ng-show="source == 'Snapshot'">
                <span>
                    使用一个快照作为源
                </span>
                <span class="text">
                    <select class="input-block-level" ng-model="data.snapshot_id" ng-options="snapshot.id as snapshot.name for snapshot in snapshots"></select>
                </span>
            </div>
        </form>
        <span class="marginBottom">
            <button class="btn btn-default unusable" ng-click="cancelCreateVolume()">取消 </button>
            <button class="btn btn-default" ng-click="createVolume()">创建云硬盘 </button>
        </span>
    </div>
</body>
</html>